extends layout

block content
	h1.homeHeader Image Search
	.ui.segment.searchForm
		form(action="/", method="POST").ui.form
			.field
				label Seach Term
				input(type="text", name="searhTerm", placeholder="Image Description")
			.field
				label Pagination
				input(type="number", name="paginate", placeholder="Paginate")
			button(type="submit").ui.blue.button Search

	a(href="/api/recentsearches").ui.orange.button Search History